body, button, input {
    font-family: 'Roboto';
}
body {
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button, a, input{
    box-shadow: none !important;
}

/* header */
.header {   
    overflow: hidden;
}
a.navbar-brand {
    font-style: italic;
    font-size: 26px;
    margin: 0 !important;
    letter-spacing: 1px;
}
a.nav-link {
    font-size: 17px;
    color: black;
    margin-right: 15px !important;
    margin-left: 15px !important;
    margin-top: 10px;
    align-items: center;
}
a.nav-link:hover {
    color: green;
}
a.navbar-toggler {
    border: none !important;
}
a.navbar-toggler:visited {
    border: none !important;
}
.signup1 {
    border: black 2px solid;
    
}
.signup1 span {
    padding: 10px;
    padding-left: 10px;

}

.txt{
    font-family: 'Sansita Swashed', cursive;

}


.logoimg {
    margin-left: 20px;
    height: 30px;
    width: 30px;

}